/** General **/
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** SplitScreen**/
.split-screen,
.layer,
.content-wrap {
    width: 100vw;
    height: 100vh;
    min-height: 30em;
}

.split-screen {
    position: relative;
    overflow: hidden;
}

.layer {
    position: absolute;
    overflow: hidden;
}

.content-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}

.layer img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;

}

.layer::before {
    content: '';
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.right {
    z-index: 1;
    color: #282D31
}

.left {
    z-index: 2;
    width: 50vw;
    color: #FAB1AA;
    border-right: 8px solid #fff539;
}

/** Text **/
.layer h1 {
    max-width: 10em;
    font-size: 3em;
    font-size: clamp(3em, 7vw, 7em);
    line-height: 1em;
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400;
    font-style: normal
}

.layer .text {
    z-index: 1;
}

.layer .text p {
    margin-top: 1.5em;
    max-width: 500px;
    font-size: 1.2em;
    line-height: 1.4em;
}

/** Fonts added for the quotes and infos **/
.layer .content-wrap .text .quotes {
    font-family: "Helvetica Neue";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.layer .content-wrap .text .infos {
    font-family: "proxima-nova", sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/** Placement of the infos **/ 
.leftInfo {
    position: fixed;
    top: 1%;
    left: 3%;
}

.rightInfo {
    position: fixed;
    top: 1%;
    right: 3%;
}

.rightInfo span:first-of-type {
    color: #FAB1AA;
}

/** Placement of the quotes **/
.leftQuote {
    position: fixed;
    bottom: 25%;
    right: 10%;
}

.rightQuote {
    position: fixed;
    top: 25%;
    left: 10%;
}

/** Rating-Stars **/
.layer .littlestars {
    width: 30%;
    height: auto;
    position: fixed;
    top: 90%;
    left: 50%;
}




